@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sans', sans-serif;

}


.mt-0 {
  margin-top: 0 !important;
}
.container{
  width: 650px !important;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 20px 35px 15px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px 10px rgba(58, 58, 58, 0.2);
}

    /* Pie Chart */
.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  }
  .progress-pie-chart.gt-50 {
  background-color: #0e92ff;
  }
  
  .ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
  }
  .ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #0e92ff;
  transform: rotate(0deg);
  }
  .gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
  }
  .gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
  }
  
  .ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
  }
  .ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #0e92ff;
  }
  
  .pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
  }
  
  .progress-pie-chart {
  margin: 50px auto 0;
  }

.container .stars input, .container .rate input{
  display: none;
}
select:invalid { color: gray
}

.rate label{
  border:1px;
  font-weight: bold;
  color:white;
}
.stars {
  margin-right: auto;
  margin-left: auto;
}
.stars label{
  float: right;
  font-size: 50px;
  cursor: pointer;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: gold;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -30px;
  font-size: 30px;
  font-weight: 500;
  color: gold;
  font-family: 'Poppins', sans-serif;
  display: none;
}
.stars input:checked ~ .result:before{
  display: block;
}
form .textarea textarea{
  height: 60px;
  width: 100%;
  color: rgb(83, 84, 85);
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(190, 193, 196);
  padding: 10px;
  font-size: 17px;
  resize: none;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(190, 193, 196);
  background: rgb(48, 151, 255);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
form .btn button:hover{
  background: rgb(0, 128, 255);
}